body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("resources/developer-portfolio/top-banner.png");
    background-repeat: no-repeat;

}
section{
    height: 500px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}